---
layout: area
title: Action Steps
---

<fieldset>
  {% for action in site.data.actions %}
  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input"
        id="action-{{ forloop.index }}"
        {% if action.checked == true %}checked=""{% endif %}
        >
      <label class="custom-control-label" for="action-{{ forloop.index }}">
        {{ action.title }}
      </label>
    </div>
  </div>
  {% endfor %}
</fieldset>
