@import "constants";
@import "mixins";

// @import "header";
@import "footer";


html {
  font-family: 'Open Sans', sans-serif;
}

small,
.small {
  font-size: $font-size-small;
}

.content {
  @include page-container;
}

.clamped {
  margin: 0 auto;
  max-width: 20rem;
}

.btn {
  transition: none;
}

h1.supersized {
  font-size: 3rem;
  font-variant: small-caps;
}
